#root {
  text-decoration-color: aqua;
  margin-top: 0;
}
header {
  align-items: center;
  padding-left: 10%;
  margin-top: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
}
body {
  background-color: white;
}

.lexend-deca-thick {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}
